html {
	background: #ebebeb;
}
body {
	background: url(../img/header-bg-first.png) no-repeat left top,
				url(../img/header-bg-after.png) no-repeat 85.5% top;
}
header {
	background: none;
}
section {
	background: none;
}
.menu__bottom ul {
	margin-bottom: 0;
	padding-bottom: 20px;
}
.main__section {
	background: url(../img/section-bg.png) no-repeat 87.5% 38%,
				url(../img/section-bg.png) no-repeat 87.5% 90%;
}
.film__images {
	margin-bottom: 28px;
}
.film__description_first p:last-child {
	margin-bottom: 30px;
}
.trapezoid {
	border-bottom: 36px solid #5261ac;
	border-right: 30px solid transparent;
	height: 0;
	width: 150px;
	padding: 10px 0;
	color:#fff;
	text-align:center;
	line-height:56px;
	font-size: 17px;
	font-weight: bold;
	text-transform: uppercase;
}
.trapezoid__left {
	width: 200px;
}
.related {
	margin: 35px 0 25px 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	font-size: 13px;
	font-weight: lighter;
	color: #494949;
	justify-content: space-around;
}
.related ul a {
	margin-bottom: 10px;
	display: block;
}
.related_tringle {
	display: block;
	color: #5261ac;
	margin-right: 5px;
}
.form__comment {
	margin: 30px auto;
	width: 550px;
}
.form__comment div {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.form__comment label {
	display: block;
	margin-left: auto;
	margin-right: 17px;
	margin-top: 10px;
	color: #494949;
}
.form__comment label, input, textarea, button {
	display: block;
}
.form__comment input, textarea {
	border: 1px solid #b0b0b0;
	border-radius: 5px;
}
.form__comment input {
	width: 435px;
	height: 35px;
	margin-bottom: 24px;
}
.form__comment textarea {
	width: 435px;
	height: 135px;
	resize: none;
}
.form__comment button {
	outline: none;
	border: none;
	background: #f78f1d;
	font-size: 15px;
	color: #fff;
	padding: 8px 22px;
	border-radius: 5px;
	margin-left: auto;
	margin-top: 12px;
	cursor: pointer;
}
.comments__section {
	margin: 45px auto;
	max-width: 600px;
}
.comment__item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: flex-start;
	margin-bottom: 25px;
}
.comment__item img {
	display: block;
	margin-right: 15px;
}
.comment__information {
	width: 100%;
}
.comment__item_top {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}
.comment__item_top h4 {
	font-size: 17px;
	color: #5261ac;
}
.comment__item_top span {
	font-size: 13px;
	color: #494949;
}
.comment__item_bottom p {
	font-size: 13px;
	color: #494949;
}
.comment__item_bottom p:after {
	content: '';
	display: block;
	width: 90%;
	padding-top: 10px;
	border-bottom: 1px solid #d5d5d5;
}
.comment__item_bottom a {
	font-size: 15px;
	color: #5261ac;
	display: block;
	text-align: right;
	margin-top: -12px;
}

/* Media queries */

@media screen and (min-width: 2560px) {
	html {
		font-size: 28px !important;
	}
	.footer_bg {
		padding: 0;
		margin: 0;
		max-width: 100%;
	}
	.menu__bottom ul {
		/*margin-bottom: 0;*/
		/*padding-bottom: 0;*/
	}
	.main__section {
		margin-top: 0;
		padding-top: 0;
		background: url(../img/section-bg.png) no-repeat 86.5% 15%,
					url(../img/section-bg.png) no-repeat 86.5% 75%;
	}
	.container {
		width: 70%;
		margin: 0 auto;
		background: #fff;
		padding: 0 31px;
	}
	.search input{
		height: 45px;
		width: 550px;
	}
	.search .btn__seacrh {
		font-size: 24px;
	}
	.socials img {
		height: 45px;
	}
	.btn__socials {
		padding: 9px 30px;
	}
	.stories h2{
		font-size: 1.1em;
		padding: 10px 0;
	}
	.film__description h2{
		font-size: 2.2em;
	}
	.film__description p{
		font-size: 1em;
	}
	.film__info, .previous-posts{
		font-size: 0.9em;
		padding-bottom: 25px;
	}
	.film__info_comments {
		margin-left: 65px;
	}
	.film__images_small {
		display: none;
	}
	.second-col {
		padding-left: 20px;
		padding-bottom: 40px;
	}
	.trapezoid {
		width: 380px;
		font-size: 1.3em;
		border-bottom: 60px solid #5261ac;
		line-height: 60px;
		padding: 0;
		/*margin-top: -10px;*/
		margin-bottom: 10px;
	}
	.categories {
		font-size: 1.05em;
	}
	.stories__info .stories__info_text > *{
		font-size: 0.75em;
	}
	.interesting__item_text > * {
		font-size: 1.4em;
	}
	.archives__item p {
		font-size: 1.5em;
	}
	.sidebar__tags {
		font-size: 1em;
	}
	.sidebar__tags h4 {
		font-size: 1.3em;
	}
	.sidebar__tags span {
		font-size: 1.3em;
	}
	.related ul {
		font-size: 1.6em;
	}
	.form__comment {
		font-size: 1.1em;
	}
	.form__comment textarea {
		width: 550px;
	}
	.form__comment button {
		font-size: 0.8em;
	}
	.comments__section {
		max-width: 100%;
	}
	.comment__item {
		width: 100%;
	}
	.comment__item img {
		width: 10%;
	}
	.comment__item .comment__information .comment__item_top > *{
		font-size: 1.1em;
	}
	.comment__item .comment__information .comment__item_bottom > * {
		font-size: 0.9em;
	}
}

@media screen and (max-width: 1496px) {
	header {
		background: none;
	}
	.main__section {
		background: url(../img/section-bg.png) no-repeat 88% 25%,
					url(../img/section-bg.png) no-repeat 88% 90%;
	}
}

@media screen and (max-width: 1220px) {
	header {
		background: none;
	}
	section {
		background: none;
	}
	.film__date {
		display: none;
	}
	.footer_bg {
		display: none;
	}
}

@media screen and (max-width: 690px) {
	.btn__socials {
		font-size: 1.3em;
	}
	.item p {
		font-size: 1.1em;
	}
	.film__description p {
		font-size: 1.2em;
	}
	.film__info {
		font-size: 1.2em;
	}
	.stories__info_text h4 {
		font-size: 1.2em;
	}
	.stories__info_text p {
		font-size: 1.02em;
	}
	.interesting__item_text {
		font-size: 1.1em;
	}
	.archives__item p {
		font-size: 1.3em;
	}
	.sidebar__tag_cloud {
		display: none;
	}
	.previous-posts {
		font-size: 1.3em;
	}
	.related {
		font-size: 1.02em;
	}
	.form__comment {
		font-size: 1.1em;
	}
	.form__comment textarea {
		width: 550px;
	}
	.form__comment button {
		font-size: 0.8em;
	}
	.comments__section {
		max-width: 100%;
	}
	.comment__item {
		width: 100%;
	}
	.comment__item img {
		width: 10%;
	}
	.comment__item .comment__information .comment__item_top > *{
		font-size: 1.1em;
	}
	.comment__item .comment__information .comment__item_bottom > * {
		font-size: 0.9em;
	}
}

@media screen and (max-width: 520px) {
	html {
		font-size: 1.2em;
	}
	.menu__top {
		padding-bottom: 20px;
	}
	.menu__bottom {
		display: none;
	}
	.hamburger-menu {
		display: block;
	}
	.trapezoid__left {
		margin: 10px 0;
		margin-top: 0;
		font-size: 1em;
		border-bottom: 50px solid #5261ac;
		line-height: 50px;
		width: 35%;
		padding: 0;
	}
	.categories__item {
		font-size: 1.1em;
	}
	.categories__item_third {
		padding-right: 15px !important;
	}
	.stories__info {
		flex-direction: column;
		font-size: 0.9em;
		text-align: center;
	}
	.stories__info img {
		width: 50%;
		padding-bottom: 10px;
	}
	.interesting__item {
		flex-direction: column;
		font-size: 1em;
		text-align: center;
	}
	.interesting__item img {
		width: 50%;
		padding-bottom: 10px;
	}
	.sidebar__archives {
		display: none;
	}
	.trapezoid__top {
		font-size: 1.2em;
		width: 60%;
		border-bottom: 50px solid #5261ac;
		line-height: 50px;
		padding: 0;
	}
}

@media screen and (max-width: 380px) {
	html {
		font-size: 1.8em;
	}
	section .container {
		flex-direction: column;
	}
	.hamburger-menu {
		top: -7px;
	}
	.menu__btn > span,
	.menu__btn > span::before,
	.menu__btn > span::after {
		width: 36px;
		height: 4px;
	}
	.menu__btn > span::before {
  		content: '';
  		top: -14px;
	}
	.menu__btn > span::after {
  		content: '';
  		top: 14px;
	}
	.first-col {
		max-width: 100%;
	}
	.second-col {
		max-width: 100%;
	}
	.menu__top {
		align-items: flex-end;
	}
	.menu__top h1 {
		font-size: 2em;
	}
	.search input{
		height: 50px;
	}
	.search .btn__seacrh {
		font-size: 1.1em;
		text-align: center;
	}
	.socials a img{
		height: 45px;
	}
	.film__images_small {
		display: none;
	}
	.film__description h2 {
		width: 100%;
		text-align: center;
		margin-top: 20px;
		font-size: 1.8em;
	}
	.categories {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		max-width: 100%;
		text-align: center;
		font-size: 1.2em;
		padding: 20px 0;
	}
	.categories__item {
		width: 100%;
		display: block;
		padding: 15px 0 !important;
	}
	.stories__info {
		flex-direction: row;
		text-align: left;
		font-size: 1.2em;
	}
	.stories__info img {
		max-width: 90%;
		margin-right: 10px;
		padding: 10px 0;
	}
	.heading {
		font-size: 1.8em;
		text-align: center;
		margin: 30px 0;
	}
	.interesting__item {
		flex-direction: row;
		text-align: left;
		font-size: 1.2em;
	}
	.interesting__item img {
		margin-right: 10px;
		width: 30%;
		margin: 10px 0;
	}
	.trapezoid__top {
		font-size: 1.6em;
		width: 40%;
		border-bottom: 80px solid #5261ac;
		line-height: 80px;
		padding: 0;
	}
	.trapezoid__left {
		border-bottom: 70px solid #5261ac;
		line-height: 70px;
	}
}